/*------------------- FONTS -------------------*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*------------------- BASE PAGE DESIGN -------------------*/

:root {
  /*------------------- HEADER -------------------*/
  --header-height: 3rem;
  /*------------------- COLORS -------------------*/

  /*------------------- Main Colors -------------------*/
  --teal: #327b7a;
  --offwhite: #fdfdfd;
  --text-color: #403939;
  --container-color: #fdfdfd;

  /*------------------- Oath Color -------------------*/
  --oathlight: #6b6278;
  --oathmedium: #4a4458;
  --oathdark: #292336;

  /*------------------- FONTS & TYPOGRAPHY -------------------*/

  --poppins: "Poppins", sans-serif;
  --quicksand: "Quicksand", sans-serif;

  /* 0.5pxrem = 8px, 1rem = 16px, 1.5rem = 24px, 2rem = 32px */
  --big-header: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75;

  /*--------------------- FONT WEIGHTS ----------------------*/
  --light: 300;
  --medium: 400;
  --regular: 500;
  --semibold: 600;
  --bold: 700;

  /*------------------- MARGINS PADDINGS -------------------*/
  /* Using rem for more scaleability: 0.25pxrem = 4px, 0.5rem = 8px, 0.75rem = 12px, 1rem: 16px */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*------------------- z-index -------------------*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;

  /*------------------- FONT SIZE FOR LARGE SCREENS -------------------*/
  /* 0.5pxrem = 8px, 1rem = 16px, 1.5rem = 24px, 2rem = 32px */
  @media screen and (min-width: 968px) {
    :root {
      --big-header: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
    }
  }

  /*------------------- HEADER -------------------*/
}


/*------------------- FOR ALL -------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--poppins);
  font-size: var(--normal-font-size);
  background-color: var(--offwhite);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--text-color);
  font-weight: var(--bold);
}
.uil{
  font-style: normal;
  margin-left: 2rem;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--poppins);

}

img{
  max-width: 100%;
  height: auto;
}

/*------------------- REUSEABLEE CSS FOR COMPONENTS -------------------*/
.button {
  width: 380px;
  height: auto;
}

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--bold);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*------------------- LAYOUT GRID -------------------*/

.container {
  max-width: 768px;
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
  /* display:flex;
  flex-direction: column; */
}

.grid {
  display: grid;
  gap: 1.5rem;
}
