@import "../../variables/global";

.base {
  width: 165px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.outlined {
  color: $teal;
  background-color: transparent;
  border: 1px solid $teal;
}
.outlined:hover {
  background-color: $teal;
  color: white;
  transition: 0.3s ease-in-out;
}

.primary {
  color: white;
  background: $teal;
}

.inverted {
  background: white;
  color: $teal;
}

.inverted-outlined {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
.inverted-outlined:hover {
  background-color: white;
  color: $teal;
  transition: 0.3s ease-in-out;
}

.small {
  width: 100px;
}

.full {
  width: 100%;
}
