.card-wrapper{
    height: 370px;
  width: 350px;
  background-color: #125a59;
  border-radius: 12px;
  padding: 30px;
  box-sizing: border-box;
  color: white;
  margin-bottom: 30px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  color: #ededed;
  position: relative;
}