@import "../../variables/global";
.nav-container {
  background-color: $offwhite;
  height: 100px;
  font-family: $quicksand;
  font-weight: $medium;
  font-size: 21px;
}

.home-button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  padding: 15px;
}
.home-button:hover {
  background-color: $oathmedium;
  color: $white;
  transition: 0.5s ease-in-out;
}
